<div class="container">
  <div class="row">
<!-- Formulaire de saisie d'un post pour tester l'initialisation de la date de création -->
    <div class="col-xs-12">
      <h2>{{ titleSaisiePost }}</h2>
      <form> 
        <div class="form-group">
          <input type="text" class='form-control' name="postTitle" placeholder='Titre' [(ngModel)]="postTitle">
        </div>    
        <div class="form-group">
          <textarea class='form-control' name="postContent" placeholder='Contenu' [(ngModel)]="postContent"></textarea>
        </div>  
        <div class="form-group">
          <button class="btn btn-success" (click)='addPost()'>Enregistrer</button>
        </div>  
      </form>  
    </div>  
  </div>  
  <!-- Transmission de la liste des posts au component PostListComponent -->
  <div class="row">
    <div class="col-xs-12">
      <h2>{{ titleListPost }}</h2>
      <app-post-list-component [postList]='posts'></app-post-list-component>
    </div>
  </div>
</div>
    